* {
    box-sizing: border-box;
    /* border:1px solid red; */
}

@font-face {
    font-family: 'Bebas Neue';
    src: url("../font/Bebas_Neue/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: 'Ubuntu';
    src: url("../font/Ubuntu/Ubuntu-Regular.ttf");
}

body {
    font-family: "Bebas Neue";
    background-color: #2a2a2b;
    color: #fff;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
}

p {
    font-size: 0.9rem;
    line-height: 1.5;
}


a.text_link_underline_nav {
    position: relative;
    color: #fff;
}

a.text_link_underline_nav:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1rem;
    top: 0;
    left: 0;
    border-bottom: 1px solid #87EBCF;
    transition: width 0.5s;
}

a.text_link_underline_nav:hover:after,
a.text_link_underline_nav:focus {
    width: 100%
}

a.text_link_underline {
    position: relative;
}

a.text_link_underline:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1.4rem;
    top: 0;
    left: 0;
    border-bottom: 1px solid #87EBCF;
    transition: width 0.5s;
    
}

a.text_link_underline:hover:after,
a.text_link_underline:focus {
    width: 100%
}

a.text_link_underline_h2 {
    position: relative;
}

a.text_link_underline_h2:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2.1rem;
    top: 0;
    left: 0;
    border-bottom: 1px solid #87EBCF;
    transition: width 0.5s;
}

a.text_link_underline_h2:hover:after,
a.text_link_underline_h2:focus {
    width: 100%
}

a.common_btn {
    font-size: 0.8rem;
    /* border:1px solid rgb(143,235,217); */
    border-radius: 5px;
    padding: 1em 1.2em;
    /* background-color:rgb(14,25,46); */
    transition: background-color 1s;
    /* color: rgb(143,235,217); */
}

/* a.common_btn:hover, a.common_btn:focus{
    background-color:rgb(28,48,63);
} */

.navigation>div:nth-of-type(1) {
    padding-top: 0.8rem;
}

.burger_menu .mobile-icon{
    display: none;
}

ul {
    margin: 0;
    margin-left: 1rem;
    padding: 0;
    line-height: 2;
    text-align: center;
}

/* header section start */
header {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}


header .logo {
    color: #87EBCF;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
}

header .navigation {
    display: flex;
    justify-content: space-around;
}

header .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

header .navigation li {
    margin-right: 2rem;
    display: inline;
}

.text_link_animation {
    color: rgb(220, 220, 220);
    transition: color 1.5s, font-weight 1.5s;
}

.text_link_animation {
    transition: letter-spacing 1s;
}

.text_link_animation:hover,
.text_link_animation:focus {
    letter-spacing: 0.2rem;
}

.text_link_animation_p {
    color: rgb(220, 220, 220);
    font-size: 0.5rem;
    transition: color 1.5s, font-weight 1.5s;
}

/* .text_link_animation_p:hover,
.text_link_animation_p:focus {
    color: #F56042;
    font-weight: bold;
} */

.text_link_animation_p {
    transition: letter-spacing 1s;
}

.text_link_animation_p:hover,
.text_link_animation_p:focus {
    letter-spacing: 0.05rem;
}

.text_link_animation_spacing {
    letter-spacing: 0.5em;
    transition: letter-spacing 1s;
}

.text_link_animation_spacing:hover,
.text_link_animation_spacing:focus {
    letter-spacing: 0.7em;
}

.ul_in_p {
    padding-left: 1rem;
}

.navigation span {
    color: #87EBCF;
    font-size: 0.5rem;
    letter-spacing: 0.7em;
}

.mobile-nav-icon {
    color: #87EBCF;
    font-size: 1.5rem;
    display: none;
}

img {
    width: 100%;
}

@media screen and (max-width:800px) {
    .mobile-nav-icon {
        display: block;
    }

    .navigation div {
        display: none;

    }

    header {
        flex-direction: column;
    }

    header nav {
        width: 100%;
    }

    header nav ul {
        width: 100%;
        /* border: 1px solid green; */
    }

    header .navigation li {
        display: block;
    }

    .my_info_detail {
        flex-direction: column;
        gap: 1rem;
    }

    .my_info_detail .left {
        /* border: 1px solid red; */
        width: 100%;
        order: 2;
    }

    /* .left *{
        border: 1px solid green;
    } */

    .my_info_detail .right {
        width: 100%;
        order: 1;
        text-align: center;
    }

    .my_info_detail .right img {
        width: 80%;
        /* min-width: 320px; */
    }

    .navigation {
        display: none;
        /* border: 1px solid red; */
        /* height:100vh; */
    }

    .header-logo .mobile-icon {
        display: block;
    }

    .header-menu a{
        display: block;
        /* text-align: left; */
    }
    
}

/* section display */
.language {
    display: flex;
    gap: 3rem;
}

.language li {
    list-style-type: circle;
    display: flex;
    text-align: left;
    padding-top: 0.5rem;
}

.my_info {
    /* height: 65vh; */
    text-transform: none;
}

.my_info_detail {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    gap: 3rem;
}

.my_info_detail p a {
    font-size: 1rem;
    color: #38978e;
}

.my_info p {
    font-size: 1rem;
}

/* #my_info .left {
    width: 65%;
}

#my_info .right {
    width: 35%;
} */


.content_font {
    text-transform: none;
    font-family: Ubuntu;
    line-height: normal;
}


/* contact */
.contact_section {
    padding-top: 5rem;
    justify-content: center;
    
}

.contact_section h2{
    text-align: center;
}

.contact_section span {
    font-family: 'Roboto Mono', monospace;
    /* border: 1px solid red; */
    display: block;
    color: #87EBCF;
    font-size: 1rem;
    margin: 0.5rem 0;
}

.contact_section p{
    text-align: center;
}

/* .ending_words{
    color: #F20605;
    font-size: 1.5rem;

} */

.contact_icon {
    list-style: none;

}

.icon_cutomise{
    padding-top: 4rem;
    font-size: 1.5rem;
}

.fa-brands {
    color: #fff;
    cursor: pointer;
    padding: 0 0.75rem;
    transition: color 1s, font-size 0.5s;
}

.fa-brands:hover, .fa-brands:focus{
    color: #87EBCF;
    font-size: 2.5rem;
}



/* footer part start */
footer {
    margin-top: 6rem;
    padding-bottom: 2rem;
}

footer li {
    list-style: none;
    padding: 0.25rem;
}