@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url("../font/Ubuntu/Ubuntu-Regular.ttf");
}

h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    letter-spacing: 0.7rem;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}
/* me section start */
.about_me {
    height: 85vh;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about_me div {
    margin-top: 4rem;
}

.about_me div:nth-of-type(1){
    font-weight: 400;
    max-width: 600px;
    font-size: 1rem;
}

.about_me div:nth-of-type(1) span{
    color: #D4504E;
}


.about_me p a {
    color: #87EBCF;
}

header p {
    max-width: 600px;
}

.checkout_btn {
    border: 0.1rem solid rgb(255, 255, 255);
    background-color: rgb(97, 97, 97);
    color: white;
}

a.checkout_btn:hover,
a.checkout_btn:focus {
    background-color: rgb(255, 255, 255);
    color: #2a2a2b;
}


@media screen and (max-width:800px) {
    h1 {
        font-size: 6vw;
    }
}

@media screen and (max-width:500px) {
    h1 {
        font-size: 2rem;
    }
}

.language {
    display: flex;
    gap: 3rem;
}

.language li {
    list-style-type: circle;
}

.my_info_detail {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.my_info_detail p a{
    font-size: 1rem;
    color: #38978e;
}

.my_info p{
    font-size: 1rem;
}

#my_info .left {
    width: 65%;
}

#my_info .right {
    width: 35%;
}


@media screen and (max-width:800px) {
    .amy_info_detail {
        flex-direction: column;
        gap: 1rem;
    }

    #my_info .left {
        width: 100%;
        order: 2;
    }

    #my_info .right {
        width: 100%;
        order: 1;
        text-align: center;
    }

    #my_info .right img {
        width: 50%;
        min-width: 320px;
    }
}