@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url("../font/Ubuntu/Ubuntu-Regular.ttf");
}

/* *{
    border: 1px solid red;
} */

h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    letter-spacing: 0.7rem;
}

h2{
    font-size: 1.75rem;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}
/* me section start */
.about_me {
    height: 85vh;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about_me div {
    margin-top: 4rem;
}

.about_me div:nth-of-type(1){
    font-weight: 400;
    max-width: 600px;
    font-size: 1rem;
}

.about_me div:nth-of-type(1) span{
    color: #D4504E;
}


.about_me p a {
    color: #87EBCF;
}

header p {
    max-width: 600px;
}

.checkout_btn {
    border: 0.1rem solid rgb(255, 255, 255);
    background-color: rgb(97, 97, 97);
    color: white;
}

a.checkout_btn:hover,
a.checkout_btn:focus {
    background-color: rgb(255, 255, 255);
    color: #2a2a2b;
}

.right{
    width: 100%;
    /* border: 1px solid blue; */
    text-align: center;
}

.right a{
    display: block;
}

.description_image{
    /* background-color: aqua; */
}


@media screen and (max-width:800px) {
    h1 {
        font-size: 6vw;
    }
    .my_info_detail{
        display: block;
    }
}

@media screen and (max-width:500px) {
    h1 {
        font-size: 2rem;
    }
}


img{
    width: 95%;
}

