@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';


@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url("../font/Ubuntu/Ubuntu-Regular.ttf");
}

*{
    /* border: 1px solid red; */
}

html,
body {
    font-family: 'Roboto Mono', monospace;
    background: #212121;
    height: 100%;
}

main{
    max-width: 1200px;
    margin: auto;
}

body{
    color:#fff;
    font-size:0.8rem;
}

h1{
    font-family: "Cormorant Garamond", serif;
    font-size: 3rem;
    color: #ffF;
}

h1>span{
    font-family: 'Roboto Mono', monospace;
    /* border: 1px solid red; */
    display: block;
    color: #87EBCF;
    font-size:1rem;
    margin:0.3rem 0;
}

h2{
    color: #87EBCF;
    padding: 2rem 0;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

main {
    /* border:1px solid red; */
    padding: 1rem;
    max-width: 1500px;
    margin: auto;
}

/* aProduct container */
.aProduct-container {
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
    /* height: 85vh; */
}


/* .aProduct-container, .aProduct-information, .payform{
    width: 70vw;
} */

.aProduct-container img {
    width: 100%;
}

.aProduct-images {
    width: 60%;
    display: flex;
    gap: 0.5rem;
    /* border-radius: 0.5rem; */
    /* border: 0.1rem solid red; */
    margin-top: 1.5rem;
}

.product_detail {
    width: 38%;
}

.nail-images {
    display: flex;
    flex-direction: column;
    gap: 0.65rem;

}

.nail_images_detail {
    background-color: #fff;
}

.nail_image_detail_1{
    border-top-left-radius: 0.5rem;
}

.nail_image_detail_5{
    border-bottom-left-radius: 0.5rem;
}


.nail-images:hover {
    cursor: pointer;
}

.original-size-image {
    /* border: 0.1rem solid #fff; */
    /* background-color: #fff; */
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}


/* information section start*/
.aProduct-information {
    padding-left: 2rem;
    padding-top: 1rem;
    width: 40%;
}

.aProduct-information>div:nth-of-type(2) p,
.client-comment {
    color: #434345;
    font-size: 0.7rem;
}

.aProduct-information p {
    font-size: 0.9rem;
}

.step_image{
    border-radius: 0.5rem;
    background-color: #fff;
}

.steps{
    margin-top: 7rem;
}


@media screen and (max-width:850px) {
    .aProduct-container {
        flex-direction: column;
    }

    .aProduct-images {

        width: 100%;

    }

    .product_detail {
        width: 100%;
    }

    .aProduct-information {
        width: 100%;
        /*        margin-left:0vw;*/
        padding-left: 0rem;
    }

    .aProduct-images {
        flex-direction: column-reverse;
    }

    .aProduct-images .nail-images {
        /* display:flex; */
        flex-direction: row;
    }

    .nail-images {
        /* overflow: hidden; */
        overflow-x: auto;
        /* border:1px solid red; */
    }

    .nail_image_detail_1{
        border-top-left-radius: 0;
    }
    
    .nail_image_detail_5{
        border-top-left-radius: 0;
    }
    
    .original-size-image {
        /* border: 0.1rem solid #fff; */
        /* background-color: #fff; */
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}